
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body            { font-family: sans-serif; background: #eee; 
                  position: relative; 
                  min-height: 100%;}
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; 
                  font-size: 30px; white-space: nowrap;/* 40px/16=2.5em */}
h2              { font-size: 1.2em; }

.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }
ul.templist     { list-style-type: circle; }

.missingsensor { 
    font-weight: bold;
    color: red; 
}
.detectedsensor { 
    font-weight: bold;
}

.buttonrow {
    text-align: center;
}
    


.temp { 
    background-color: white; 
    border: 2px solid #4CAF50; /* Green */
    padding: 10px 10px;
    margin: 4px 2px;
    font-weight: bold;
    font-size: 2em;
    color: black;
    text-align: center;
}

.set-alias      { 
    display: inline; 
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.inputalias {
    background:rgba(0,0,0,0);
    border:none;
    padding: 0;
    font-family: 'Georgia', serif;
    margin: 0;
    color: #377ba8;
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    display: inline;
    outline: none;
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}
.inputalias:hover {
    background-color: #efe;
}

/* Customize the label (the container) */
.dellab {
  background-color: #377ba8; 
  display: inline-block;
  border: 2px solid #4CAF50; /* Green */
  color: white;
  padding: 10px 24px;
  margin: 4px 2px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.dellab:hover {
    background-color: white;
    color: black;
}

/* Hide the browser's default checkbox */
.dellab input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Customize the label (the container) */
.checklab {
  background-color: #377ba8; 
  display: inline-block;
  border: 2px solid #4CAF50; /* Green */
  color: white;
  padding: 10px 24px;
  margin: 4px 2px;
  padding-left: 34px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
}

.checklab:hover {
    background-color: white;
    color: black;
}

/* Hide the browser's default checkbox */
.checklab input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 6px;
  left: 4px;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  border: 1px solid #4CAF50; /* Green */
  background-color: #eee;
}



/* When the checkbox is checked, add a blue background */
.checklab input:checked ~ .checkmark {
  background-color: #377ba8; 
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checklab input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checklab .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.buttonform {
    display: inline;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;
  text-align: center;
  font-size: small;
}