{% extends "template.html" %}
{% block body %}
  <h1> Device <i>{{ alias|safe }}</i></h1> 
  {% if mac != alias %}
  (mac address {{ mac }})
  {% endif %}  
  <h2>Current temperature: <b>{{ temp|round(1) }}°F</b></h2>
  <h2>Last recorded: <b>{{ time }}, {{ date }}</b></h2>
    <form action="{{ url_for('set_alias', mac=mac) }}" method="post" class="set-alias">
      <dl>
        <dt>Change alias for {{ alias|safe }}:
        <dd><input type="text" size="30" name="new_alias" value="{{ alias|safe }}">
        <dd><input type="submit" value="Confirm">
      </dl>
    </form>
    <a href={{ url_for('index') }}>Return to list</a>
{% endblock %}
