{% extends "template.html" %}
{% block body %}
  <h1><a href={{ url_for('index') }}>IoTrickster!</a></h1>
  <ul class="templist">
  {% set cur_time = time() %}
  {% for mac, alias, intermittent, timestamp, time, date, temp in data %}
  {% set missing = (not intermittent and cur_time - timestamp > 7200) or (intermittent and cur_time - timestamp > 86400) %}
  <li><h2><a href={{ url_for('details', mac=mac) }}> {{ alias|safe }}</a></h2>
    <b>{{ tempformat(temp) }}</b> at <font {% if missing %} color="red" {% endif %}> {{ time }}, {{ date }}</font></li>
  {% else %}
    <li><em>No devices</em></li>
  {% endfor %}
  </ul>
{% endblock %}
