{% extends "template.html" %}
{% block body %}
  <h1>IoTrickster!</h1>
  <ul class="templist">
  {% for mac, dev in devices|dictsort %}
  {% set time, temp = dev.last_temp() %}
  {% set time, apm = gmt_to_local(time) %}  
      <li><h2><a href={{ url_for('details', mac=mac) }}> {{ dev.get_alias() }}</a></h2>{{ c_to_f(temp)|round(1) }}°F at {{ time.tm_hour }}:{{ '{:02d}'.format(time.tm_min) }}:{{ '{:02d}'.format(time.tm_sec) }}{{ apm }}, {{ time.tm_year }}/{{ time.tm_mon }}/{{ time.tm_mday }}</li>
  {% else %}
    <li><em>No devices</em></li>
  {% endfor %}
  </ul>
{% endblock %}
